.container-1{
background-color: #262C7C;
height: 700px;
}
.nav{
    height: 100px;
    border-bottom: 1px solid white; 
}
.headimg{
    width:6%;margin-left:8%;
}
.phead{
    display: inline;
    padding-top:3% ;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar > a{
    position: relative;
    left:80%;
    padding-left: 10px; padding-right: 10px;
    text-decoration: none;
}
.tracker{
    height: 400px ;width: 35%;
    margin-left: 10%;margin-top: 5%;
}
.protect{
    height:7%;width:13% ;
    border: 1px solid #EB0366; border-radius: 5px;
    margin-top:7.5%;margin-left:.2%;
    position: absolute;
    background-color:#EB0366 ;
}
.protect > a{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.doctor > a{
    color: white;
    font-size: small;
    padding-top: 5%;
    margin-left: 10%;
}
.doctor{
    height: 12%;width: 34%;
    border: 1px solid white;border-radius: 5px;
    margin-left:50% ;
    margin-top: 25%; 
}
#outbreak{
    margin-right: 1%;
}
.jumbo{
    position: absolute;
    margin-left:60% ;top:20% ;
}

.dec{
    font-size: xx-large;
    margin-top: 10%;margin-left:.2%;
}
.status{
    height: 157px;
    width: 80%;
    position: absolute;
    top: 95%;
    left: 50%;
    border-radius:6px ;
    background-color: white;
    z-index: 2;
    transform: translate(-50%, 0%);  
}
.globe{
    display: inline-flex;
    align-items: flex-end;
    margin-top: 3%;
}
.icon1{
    width:30%;
}
.icon2{
    width:8%;
    margin-left: 30%;
    position: absolute;
    top:15%;
}
.icon3{
    width:8%; 
    margin-left: 50%;
    position: absolute;
    top:15%;
}
.icon4{
    width:8%; 
    margin-left: 70%;
    position: absolute;
    top:15%; 
}
#stats{
    display: inline-block;
    color: #0d1157;
}
#stat1{
    color:#0d1157;
}

.container-2{
    background-color:#ececec;
    height: 2400px;
}
.map{
    margin-top:10% ;
    border: 2px solid white;
    width: 50%;background-color: white;
    height:85%; box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    margin-left: 10%;
    position: absolute;
    border-radius:6px;
}
.mappic{
    width:95%;
    height: 80%;
    position: absolute;margin-top: 10%;margin-left: 3%;
    border: 1px solid white;
}
path{
    fill:#C6C6C6;
    transition:  fill ease-in-out;
}
path:hover{
    fill:brown;
    cursor: pointer;
}


.mapimg{
    width:90% ;
}
.map > p{
    display: inline;
    color: black;
    padding: 2rem;
}
.loc{
position: absolute;
margin-top: 10%;
border: 2px solid white;
width: 25%;
height:85%;
border-radius: 6px;
right: 10%;background-color: white;
}
.loc > input{
    height:8%;width:80%;
    border-radius: 5px;
    margin-left:10%;
    margin-top:3%;  
}

.loc > div{
    height:8%;width:80%;
    border-radius: 5px;
    margin-left:10%;
    margin-top:3%;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
}
.global > p{
    display: inline;color:#0d1157;padding: 1rem; 
    margin-right: 6%;
}
.global{
    border:1px solid;
}
.filter > p{
    color:#0d1157;margin-left: 4%;
}
.filter{
    border: 1px solid #C6C6C6;
}
.US > p{
    color: #0d1157; display: inline;
    
}
.US{
    background-color:#ececec ;
}
.china > p{
    color: #0d1157;display: inline;
}
.china{
    background-color: #ececec;
}
.spain > p{
    color: #0d1157;display: inline;
}
.spain{
    background-color: #ececec;
}
.italy > p{
    color: #0d1157;display: inline;
}
.italy{
    background-color: #ececec;
}
.ghana > p{
    color: #0d1157;display: inline;
}
.ghana{
    background-color: #ececec;
}
.france > p{
    color:#0d1157;display: inline;
}
.france{
    background-color: #ececec;
}
.uk > p{
    color: #0d1157;display: inline;
}
.uk{
    background-color: #ececec;
}
.iran > p{
    color: #0d1157;display: inline;
}
.iran{
    background-color: #ececec;
}

.countimg{
    width: 10%;
    margin-left:2%;margin-top: 2%;
}


.box1{
    width: 24%;height:50%;
    border-radius: 2%;
    position: absolute;
    border: 2px solid white;
    margin-top:64% ;
    margin-left: 10%;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    background-color: white;
}
.box2{
    width: 24%;height:50%;
    border: 2px solid white;
    position: absolute;
    border-radius: 2%;
    margin-top:64% ;
    margin-left:25%;
    right:10%;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    background-color: white;
}
.box3{
    width:24%;
    position: absolute;
    margin-right:32%;
    border: 2px solid white;border-radius: 2%;
    margin-top:64% ;
    right:6%;
    height: 50%;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    background-color: white;
}
.corohead{
    position: absolute;
    margin-top: 57%;
    margin-left:33%;
    color: #262C7C;
}
.symphead{
    position: absolute;
    margin-top: 93%;
    color: #262C7C;
    margin-left: 34%;
}
.box4{
    border-radius: 2%;
    width:24%;
    position: absolute;
    border: 2px solid white;
    margin-top:100% ;
    margin-left: 10%;
    height: 50%;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    background-color: white;
}
.img4{
width:35% ; border:1px solid #E4E5F7; border-radius:70%;margin-left: 30%;
margin-top:5%;
background-color: #E4E5F7;
}
div > h5{
margin-left:37%; margin-top: 5%; color: #0d1157; 
}
.temp{
    color: #0d1157;
    padding-left:10px ;padding-right:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box5{
    width:24%;
    position: absolute;
    margin-right:33%;
    border: 2px solid white; border-radius: 2%;
    margin-top:100% ;
    right:5%;
    height: 50%; box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    background-color: white;
}
.box6{
    width:24%;
    position: absolute;
    margin-right:32%;
    border: 2px solid white; border-radius: 2%;
    margin-top:100% ;
    box-shadow:0 1px 1px 0 #E4E5F7, 0 1px 1px 0 #E4E5F7;
    left: 66%; height: 50%;
    background-color: white;
}
.virus{
position: absolute;
margin-top: 135%;
color: #262C7C;
margin-left: 35%;
}

.wrapper{
    display:grid ;
    grid-template-columns: 24% 24% 24% 24%;
    position: absolute;
    margin-top: 140%;
    margin-left: 8%;

}
.wrapper > div{
    padding: 2rem;
}
.wash > h3{
    color: #262C7C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger; 
}
.wash > p{
    color: #262C7C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.hwash{
    width:50%;
    border: 1px solid white;
    border-radius: 60%;
    background-color:#E4E5F7;
     /* right: 20%; */
}
.fever{
    width:50%;
    border: 1px solid white;
    border-radius: 60%;
    background-color:#E4E5F7;
}
.touch{
    width:50%;
    border: 1px solid white;
    border-radius: 60%;
    background-color:#E4E5F7;
}
.mouth{
    width: 50%; border: 1px solid white;
    border-radius: 60%;
    background-color:#E4E5F7;

}
.container-3{
height: 543px;
background-color:white;
}
#how{
    border: 1px solid #262C7C ;
}
.container-3 > h2{
    position: absolute;
    margin-left: 48%;
   margin-top: 1%;
   color: #0d1157;
}
.com{
    height:400px ;
    width:20%;
    margin-top:5%;margin-left:10%;
    position: absolute;  
}
.novel{
    height: 380px;
    width:60%;
    margin-left: 35%; margin-top:6%;
    position: absolute;
}
li > i{
    float: right;
}
li{
    list-style: none;
    border-bottom:1px solid #E7E8F0 ;margin-left:2% ;
    padding-top: 3%;padding-bottom: 2%;color: #0d1157;
}

.cov19{
    position: relative;
    height: 60px; width:100%; border: 1px solid #E7E8F0; border-radius:5px;
}
.cov19 > p{
    color: #0d1157;text-align:left; margin-left:4% ;
}
.com > div{
    margin-top:5%;margin-bottom: 5%;padding-top: 4%;
}

.container4{
    background-color:#ececec;
    height: 700px;
}
.myblog{
    padding-top: 5%;
    width:90%;
    margin-left: 5%; margin-right: 5%;
    border-radius:5px ;
}
.view{
    background-color: #EB0065;color:white;
    margin-left: 45%; 
    margin-top:3%;
    width: 10%;
    padding:6px;
    border:1px solid #EB0065;
    border-radius:5px;
} 

.imgspace{
    height: 200px;
    background-color: #C6C6C6;
    border-radius: 5px;
}

.lastbox{
    height: 381px;
    background-color: #262C7C;

    
}
.wrap {
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 35%;
    position: absolute;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 6%;
   
}
.wrap > div{
    padding: 2rem;
   
}

div > p{
    color: white;
}
.keep > p{
    margin-left: 40%;
}
.foot{
    height:80px;
    border-top: 1px solid white;
    background-color: #262C7C;
}
.footimg{
    width: 20%;
}
#ftext{
display: inline;
}
.foot > p{
    text-align: center;
    padding-top: 2%;
}
.card-text{
    color: #000;
}
.date{
    color: black;
    position: relative;
    top: 40px;
}
#read{
    float: right;
}
.fa {
    margin-left:20% ;
}